<template>
  <div class="left-table-1">
    <div ref="left-main" class="left-main" />
    <dv-decoration-2 style="height: 10px" />
  </div>
</template>

<script>
import * as echarts from "echarts";
export default {
  name: "LeftTable-1",
  data() {
    return {
      option: {
        title: {
          left: "center",
          text: "用户行为复购率和回购率分析",
          textStyle: {
            color: "#fff",
          },
        },
        grid: {
          left: "10%",
        },
        tooltip: {
          trigger: "axis",
        },
        legend: {
          top: 30,
          right: 0,
          orient: "vertical",
          data: ["复购率", "回购率"],
        },
        grid: {
          top: "42%",
          bottom: "10%",
        },
        xAxis: {
          type: "category",
          data: ["Jan", "Feb", "Mar", "Apr", "May", "Jun"], // 假设为月份
        },
        yAxis: {
          type: "value",
        },
        series: [
          {
            name: "复购率",
            type: "line",
            data: [20, 30, 25, 35, 28, 32], // 示例数据，需要替换成实际数据
          },
          {
            name: "回购率",
            type: "line",
            data: [15, 22, 18, 20, 17, 21], // 示例数据，需要替换成实陃数据
          },
        ],
      },
    };
  },
  mounted() {
    let myChart = echarts.init(this.$refs["left-main"]);
    myChart.setOption(this.option);
  },
};
</script>
<style scoped lang="scss">
.left-table-1 {
  color: #ffffff;
  .left-main {
    height: 30vh;
  }
}
</style>
