<template>
  <div id="china_map_box">
    <div class="Line echarts" ref="line"></div>
    <div class="pie echarts" ref="pie"></div>
  </div>
</template>

<script>
import * as echarts from "echarts";
import "../assets/map/china";
var colorList = [
  {
    type: "linear",
    x: 0,
    y: 0,
    x2: 1,
    y2: 1,
    colorStops: [
      {
        offset: 0,
        color: "rgba(51,192,205,0.1)", // 0% 处的颜色
      },
      {
        offset: 1,
        color: "rgba(51,192,205)", // 100% 处的颜色
      },
    ],
    globalCoord: false, // 缺省为 false
  },
  {
    type: "linear",
    x: 1,
    y: 0,
    x2: 0,
    y2: 1,
    colorStops: [
      {
        offset: 0,
        color: "rgba(115,172,255,0.1)", // 0% 处的颜色
      },
      {
        offset: 1,
        color: "rgba(115,172,255)", // 100% 处的颜色
      },
    ],
    globalCoord: false, // 缺省为 false
  },
  {
    type: "linear",
    x: 1,
    y: 0,
    x2: 0,
    y2: 0,
    colorStops: [
      {
        offset: 0,
        color: "rgba(158,135,255,0.1)", // 0% 处的颜色
      },
      {
        offset: 1,
        color: "rgba(158,135,255)", // 100% 处的颜色
      },
    ],
    globalCoord: false, // 缺省为 false
  },
  {
    type: "linear",
    x: 0,
    y: 1,
    x2: 0,
    y2: 0,
    colorStops: [
      {
        offset: 0,
        color: "rgba(252,75,75,0.1)", // 0% 处的颜色
      },
      {
        offset: 1,
        color: "rgba(252,75,75)", // 100% 处的颜色
      },
    ],
    globalCoord: false, // 缺省为 false
  },
  {
    type: "linear",
    x: 1,
    y: 1,
    x2: 1,
    y2: 0,
    colorStops: [
      {
        offset: 0,
        color: "rgba(253,138,106,0.1)", // 0% 处的颜色
      },
      {
        offset: 1,
        color: "#FDB36ac2", // 100% 处的颜色
      },
    ],
    globalCoord: false, // 缺省为 false
  },
  {
    type: "linear",
    x: 0,
    y: 0,
    x2: 1,
    y2: 0,
    colorStops: [
      {
        offset: 0,
        color: "rgba(254,206,67,0.1)", // 0% 处的颜色
      },
      {
        offset: 1,
        color: "#FECE4391", // 100% 处的颜色
      },
    ],
    globalCoord: false, // 缺省为 false
  },
];
var colorLine = [
  "#33C0CD",
  "#73ACFF",
  "#9E87FF",
  "#FE6969",
  "#FDB36A",
  "#FECE43",
];

function getRich() {
  let result = {};
  colorLine.forEach((v, i) => {
    result[`hr${i}`] = {
      backgroundColor: colorLine[i],
      borderRadius: 3,
      width: 3,
      height: 3,
      padding: [3, 3, 0, -12],
    };
    result[`a${i}`] = {
      padding: [-11, 6, -20, 6],
      color: colorLine[i],
      backgroundColor: "transparent",
      fontSize: 12,
    };
  });
  return result;
}
export default {
  data() {
    return {
      //echart 配制option
      options: {
        tooltip: {
          triggerOn: "mousemove", //mousemove、click
          padding: 8,
          borderWidth: 1,
          borderColor: "#409eff",
          backgroundColor: "rgba(255,255,255,0.7)",
          textStyle: {
            color: "#000000",
            fontSize: 13,
          },
          formatter: function(e, t, n) {
            let data = e.data;
            let context = `
                    <div>
                        <p><b style="font-size:15px;">${data.name}</b></p>
                        <p class="tooltip_style"><span class="tooltip_left">人数</span><span class="tooltip_right">${data.value}</span></p>
                        <p class="tooltip_style"><span class="tooltip_left">全国总人数</span><span class="tooltip_right">141177872</span></p>
                    </div>
                    `;
            return context;
          },
        },
        grid: {
          bottom: "10",
        },
        visualMap: {
          show: true,
          left: 26,
          bottom: 40,
          showLabel: true,
          textStyle: {
            color: "#ffffff",
            fontSize: 13,
          },
          pieces: [
            {
              gte: 100000000,
              label: ">= 1亿",
              color: "#484891",
            },
            {
              gte: 80000000,
              lt: 100000000,
              label: "8千万 - 1亿",
              color: "#7373B9",
            },
            {
              gte: 60000000,
              lt: 80000000,
              label: "6千万 - 8千万",
              color: "#9999CC",
            },
            {
              gte: 40000000,
              lt: 60000000,
              label: "4千万 - 6千万",
              color: "#B8B8DC",
            },
            {
              gte: 30000000,
              lt: 40000000,
              label: "3千万 - 4千万",
              color: "#D8D8EB",
            },
            {
              gte: 20000000,
              lt: 30000000,
              label: "2千万 - 3千万",
              color: "#F3F3FA",
            },
            {
              lt: 20000000,
              label: "<2千万",
              color: "#FAF4FF",
            },
          ],
        },
        geo: {
          map: "china",
          scaleLimit: {
            min: 1,
            max: 2,
          },
          zoom: 1,
          top: 120,
          label: {
            normal: {
              show: true,
              fontSize: "14",
              color: "rgba(0,0,0,0.7)",
            },
          },
          itemStyle: {
            normal: {
              //shadowBlur: 50,
              //shadowColor: 'rgba(0, 0, 0, 0.2)',
              borderColor: "rgba(0, 0, 0, 0.2)",
            },
            emphasis: {
              areaColor: "#f2d5ad",
              shadowOffsetX: 0,
              shadowOffsetY: 0,
              borderWidth: 0,
            },
          },
        },
        series: [
          {
            name: "突发事件",
            type: "map",
            geoIndex: 0,
            data: [],
          },
        ],
      },
      //echart data
      dataList: [
        { name: "北京", value: 21893095 },
        { name: "天津", value: 13866009 },
        { name: "河北", value: 74610235 },
        { name: "山西", value: 34915616 },
        { name: "内蒙古", value: 24049155 },
        { name: "辽宁", value: 42591407 },
        { name: "吉林", value: 24073453 },
        { name: "黑龙江", value: 31850088 },
        { name: "上海", value: 24870895 },
        { name: "江苏", value: 84748016 },
        { name: "浙江", value: 64567588 },
        { name: "安徽", value: 61027171 },
        { name: "福建", value: 41540086 },
        { name: "江西", value: 45188635 },
        { name: "山东", value: 101527453 },
        { name: "河南", value: 99365519 },
        { name: "湖北", value: 57752557 },
        { name: "湖南", value: 66444864 },
        { name: "广东", value: 126012510 },
        { name: "广西", value: 50126804 },
        { name: "海南", value: 10081232 },
        { name: "重庆", value: 32054159 },
        { name: "四川", value: 83674866 },
        { name: "贵州", value: 38562148 },
        { name: "云南", value: 47209277 },
        { name: "西藏", value: 3648100 },
        { name: "陕西", value: 39528999 },
        { name: "甘肃", value: 25019831 },
        { name: "青海", value: 5923957 },
        { name: "宁夏", value: 7202654 },
        { name: "新疆", value: 25852345 },
      ],
      lineOption: {
        tooltip: {
          trigger: "axis",
        },
        grid: {
          bottom: 10,
        },
        xAxis: [
          {
            type: "category",
            data: [],
            axisLine: {
              lineStyle: {
                color: "#999",
              },
            },
            axisLabel: {
              interval: 4,
            },
          },
        ],
        yAxis: [
          {
            type: "value",
            splitNumber: 4,
            splitLine: {
              lineStyle: {
                type: "dashed",
                color: "#DDD",
              },
            },
            axisLine: {
              show: false,
              lineStyle: {
                color: "#333",
              },
            },
            nameTextStyle: {
              color: "#999",
            },
            splitArea: {
              show: false,
            },
          },
        ],
        series: [
          {
            name: "人数",
            type: "line",
            data: [],
            lineStyle: {
              normal: {
                width: 8,
                color: {
                  type: "linear",

                  colorStops: [
                    {
                      offset: 0,
                      color: "#A9F387", // 0% 处的颜色
                    },
                    {
                      offset: 1,
                      color: "#48D8BF", // 100% 处的颜色
                    },
                  ],
                  globalCoord: false, // 缺省为 false
                },
                shadowColor: "rgba(72,216,191, 0.3)",
                shadowBlur: 10,
                shadowOffsetY: 20,
              },
            },
            itemStyle: {
              normal: {
                color: "#fff",
                borderWidth: 10,
                borderColor: "#A9F387",
              },
            },
            smooth: true,
          },
        ],
      },
      pieOption: {
        xAxis: {
          type: "category",
          data: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
        },
        yAxis: {
          type: "value",
        },
        grid: {
          bottom: 10,
        },
        series: [
          {
            data: [120, 200, 150, 80, 70, 110, 130],
            type: "bar",
            showBackground: true,
            backgroundStyle: {
              color: "rgba(180, 180, 180, 0.2)",
            },
          },
        ],
      },
    };
  },
  methods: {
    //初始化中国地图
    initEchartMap() {
      // 模拟的会员数据，包含出生年份
      const memberData = [
        { birthYear: 1990 },
        { birthYear: 1985 },
        { birthYear: 1995 },
        { birthYear: 1995 },
        { birthYear: 1992 },
        { birthYear: 1991 },
        { birthYear: 1998 },
        { birthYear: 2021 },
        { birthYear: 1950 },
      ];

      // 计算会员年龄并统计年龄分布
      const ageDistribution = {};
      const currentYear = new Date().getFullYear();
      memberData.forEach((member) => {
        const age = currentYear - member.birthYear;
        const ageGroup = Math.floor(age / 10) * 10;
        if (ageDistribution[ageGroup]) {
          ageDistribution[ageGroup] += 1;
        } else {
          ageDistribution[ageGroup] = 1;
        }
      });

      // 准备数据给 ECharts 使用
      const xAxisData = Object.keys(ageDistribution).map(
        (ageGroup) => `${ageGroup}-${parseInt(ageGroup) + 9}`
      );
      const seriesData = Object.values(ageDistribution);
      // let mapDiv = document.getElementById('china_map');
      let myChart = echarts.init(this.$refs.line);
      this.lineOption.xAxis[0].data = xAxisData;
      this.lineOption.series[0].data = seriesData;
      myChart.setOption(this.lineOption);

      let data = [
        {
          name: "北京",
          value: 25,
        },
        {
          name: "上海",
          value: 20,
        },
        {
          name: "广州",
          value: 18,
        },
        {
          name: "深圳",
          value: 15,
        },
        {
          name: "未知",
          value: 13,
        },
        {
          name: "海外",
          value: 9,
        },
      ].sort((a, b) => {
        return b.value - a.value;
      });
      data.forEach((v, i) => {
        v.labelLine = {
          lineStyle: {
            width: 1,
            color: colorLine[i],
          },
        };
      });
      let myChart1 = echarts.init(this.$refs.pie);
      this.pieOption.series[0].data = data;
      myChart1.setOption(this.pieOption);
    },
    //修改echart配制
    setEchartOption() {
      this.options.series[0]["data"] = this.dataList;
    },
  },
  created() {
    this.setEchartOption();
  },
  mounted() {
    this.$nextTick(() => {
      this.initEchartMap();
    });
  },
};
</script>

<style>
#china_map_box {
  width: 100%;
  height: 100%;
}
.echarts {
  width: 100%;
  height: 48%;
  color: #ffffff;
}
</style>
