<template>
    <div class="left-table-3">
        年龄构成
    </div>
</template>

<script>


export default {
    name: 'LeftTable-3',
    data(){
        return {

        }
    }
}
</script>
<style scoped lang="scss">
.left-table-3{
    color:#ffffff;
}
</style>