<template>
  <div class="right-table-1">
    <div class="r-n1">
      <div class="table-item">
        <p>用户行为中层分析</p>
        <div class="chart-style" ref="chart-style" />
      </div>
    </div>
    <dv-decoration-2 style="height: 10px; margin-top: 20px" />
  </div>
</template>

<script>
import * as echarts from "echarts";
export default {
  name: "RightTable-1",
  data() {
    return {
      config1: {
        radius: "60%",
        activeRadius: "70%",
        lineWidth: 15,
        digitalFlopToFixed: 2,
        digitalFlopUnit: "%",
        color: ["#00baff", "#3de7c9", "#fff", "#ffc530", "#469f4b"],
        digitalFlopStyle: {
          fontSize: 16,
          fill: "#fff",
        },
        data: [
          {
            name: "东部地区",
            value: 39.93,
          },
          {
            name: "中部地区占",
            value: 25.83,
          },
          {
            name: "西部地区",
            value: 27.12,
          },
          {
            name: "东北地区",
            value: 6.98,
          },
        ],
      },
      // 年龄构成
      config2: {
        radius: "60%",
        activeRadius: "70%",
        lineWidth: 15,
        digitalFlopToFixed: 2,
        digitalFlopUnit: "%",
        color: ["#67e0e3", "#9fe6b8", "#96bfff", "#ffc530", "#469f4b"],
        digitalFlopStyle: {
          fontSize: 16,
          fill: "#fff",
        },
        data: [
          {
            name: "0—14岁",
            value: 17.95,
          },
          {
            name: "15—59岁",
            value: 63.35,
          },
          {
            name: "60岁及以上",
            value: 18.7,
          },
        ],
      },
      pieOption: {
        tooltip: {
          trigger: "item",
          formatter: "{a} <br/>{b} : {c} ({d}%)",
        },
        legend: {
          type: "scroll",
          top: "center",
          orient: "vertical",
          right: "40",
        },
        series: [
          {
            name: "库存情况",
            type: "pie",
            radius: "60%",
            center: ["20%", "50%"],
            clockwise: false,
            data: [
              {
                value: 45,
                name: "CARD",
              },
              {
                value: 25,
                name: "SSD",
              },
              {
                value: 15,
                name: "U盘",
              },
              {
                value: 8,
                name: "嵌入式",
              },
              {
                value: 7,
                name: "FLASH",
              },
            ],
            label: {
              normal: {
                textStyle: {
                  color: "#999",
                  fontSize: 14,
                },
              },
            },
            labelLine: {
              normal: {
                show: false,
              },
            },
            itemStyle: {
              emphasis: {
                borderWidth: 0,
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: "rgba(0, 0, 0, 0.5)",
              },
            },
          },
        ],
      },
    };
  },
  mounted() {
    let myChart = echarts.init(this.$refs["chart-style"]);
    myChart.setOption(this.pieOption);
  },
};
</script>
<style scoped lang="scss">
.right-table-1 {
  color: #ffffff;
  width: 100%;
  .r-n1 {
    width: 100%;
  }
  .table-item {
    p {
      font-size: 17px;
      font-weight: bold;
    }
  }
  .chart-style {
    width: 100%;
    height: 20vh;
  }
}
</style>
